<%- partial('common/head') %>
<body>
    <div id="wrap">
        <%- partial('common/header', null, {cache: !config.relative_link}) %>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <%- partial('common/content-title') %>
                        <div class="main-body-content">
                            <!-- <%- partial('ads/coupang_ad') %> -->
                            <%- partial('ads/google_top_ad') %>
                            <%- body %>
                            <%- partial('ads/google_ad') %>
                        </div>
                    </section>
                    <%- partial('common/sidebar') %>
                </div>
            </div>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('common/scripts') %>
</body>
</html>
